%head
  %script{src: "http://code.jquery.com/jquery-1.11.0.js", type: "text/javascript"}
  %script{src: "http://mottie.github.io/tablesorter/js/jquery.tablesorter.js", type: "text/javascript"}
- if @round_trip
  %frameset{ :rows => '*,50%', :frameborder => "0"}
    %frame{ :name => 'go_table', :src =>"search_go{\"search\"=>#{params[:search]}, \"date\"=>#{params[:date]}}"}/
    %frame{ :name => 'back_table', :src =>"search_back{\"search\"=>#{params[:search]}, \"date\"=>#{params[:date]}}"}/
    %noframes Sorry, your browser does not handle frames!

- else
  %body
    .container 
      Results:
      
      = paginate @rides

      %form{:action => rides_search_path, :method => "post"}
        %select{name: "perpage", onchange: "this.form.submit()"}
          %option Results per page
          %option{value: 5} 5
          %option{value: 10} 10
          %option{value: 20} 20
          %option{value: 255} All
        =link_to "back", rides_path, :target => "_parent"
      
      .table-responsive
        %table#myTable.tablesorter.table.table-hover.h4.table-striped
          %thead
            %tr
              %th Cost
              %th Depart
              %th Arrival
              %th URL
          %tbody
            - style = 0
            - @rides.map do |ride|
              - if style == 0
                - style = 1
                %tr
                  %td.lead
                    $
                    = ride.TRIP_COST
                  %td{ :class=>'depart_city'}
                    = ride.DEPART_CITY
                    %br
                    = ride.DEPART_TIME.strftime("%I:%M%p %a %b%d")
                  %td{ :class=>'arrive_city'}
                    = ride.ARRIVE_CITY
                    %br
                    = ride.ARRIVE_TIME.strftime("%I:%M%p %a %b%d")
                  %td
                    %a{href:"#{ride.URL}", :target => "_parent"}= ride.COMPANY_NAME
              - else
                - style = 0
                %tr{ :class=>'alt'}
                  %td.lead
                    $
                    = ride.TRIP_COST
                  %td{ :class=>'depart_city'}
                    = ride.DEPART_CITY
                    %br
                    = ride.DEPART_TIME.strftime("%I:%M%p %a %b%d")
                  %td{ :class=>'arrive_city'}
                    = ride.ARRIVE_CITY
                    %br
                    = ride.ARRIVE_TIME.strftime("%I:%M%p %a %b%d")
                  %td
                    %a{href:"#{ride.URL}", :target => "_parent"}= ride.COMPANY_NAME

