Results:

= paginate @rides
%table#rides_result
  %thead
    %tr
      %th Origin City
      %th Depart Time
      %th Destination City
      %th Destination Time
      %th Trip Cost
      %th URL
  %tbody
    - style = 0
    - @rides.map do |ride|
      - if style == 0
        - style = 1
        %tr
          %td{ :class=>'depart_city'}= ride.DEPART_CITY
          %td= ride.DEPART_TIME
          %td{ :class=>'arrive_city'}= ride.ARRIVE_CITY
          %td= ride.ARRIVE_TIME
          %td= ride.TRIP_COST
          %td
            %a{href:"#{ride.URL}"}= ride.COMPANY_NAME
      - else
        - style = 0
        %tr{ :class=>'alt'}
          %td{ :class=>'depart_city'}= ride.DEPART_CITY
          %td= ride.DEPART_TIME
          %td{ :class=>'arrive_city'}= ride.ARRIVE_CITY
          %td= ride.ARRIVE_TIME
          %td= ride.TRIP_COST
          %td
            %a{href:"#{ride.URL}"}= ride.COMPANY_NAME

- if @round_trip
  = paginate @rides2
  %br
  Back Trip:

  %table#rides_back_result
    %thead
      %tr
        %th Origin City
        %th Depart Time
        %th Destination City
        %th Destination Time
        %th Trip Cost
        %th URL
    %tbody
      - style = 0
      - @rides2.map do |ride2|
        - if style == 0
          - style = 1
          %tr
            %td{ :class=>'depart_city'}= ride2.DEPART_CITY
            %td= ride2.DEPART_TIME
            %td{ :class=>'arrive_city'}= ride2.ARRIVE_CITY
            %td= ride2.ARRIVE_TIME
            %td= ride2.TRIP_COST
            %td
              %a{href:"#{ride2.URL}"}= ride2.COMPANY_NAME
        - else
          - style = 0
          %tr{ :class=>'alt'}
            %td{ :class=>'depart_city'}= ride2.DEPART_CITY
            %td= ride2.DEPART_TIME
            %td{ :class=>'arrive_city'}= ride2.ARRIVE_CITY
            %td= ride2.ARRIVE_TIME
            %td= ride2.TRIP_COST
            %td
              %a{href:"#{ride2.URL}"}= ride2.COMPANY_NAME
