- if @round_trip
  %frameset{ :rows => '*,50%'}
    %frame{ :name => 'go_table', :src =>"search_go#{params[:search]}"}/
    %frame{ :name => 'back_table', :src =>"search_back#{params[:search]}"}/
    %noframes Sorry, your browser does not handle frames!

- else
  %body
    Results:
    = paginate @rides
    %table#rides_result
      %thead
        %tr
          %th Origin City
          %th Depart Time
          %th Destination City
          %th Destination Time
          %th Trip Cost
          %th URL
      %tbody
        - style = 0
        - @rides.map do |ride|
          - if style == 0
            - style = 1
            %tr
              %td{ :class=>'depart_city'}= ride.DEPART_CITY
              %td= ride.DEPART_TIME
              %td{ :class=>'arrive_city'}= ride.ARRIVE_CITY
              %td= ride.ARRIVE_TIME
              %td= ride.TRIP_COST
              %td
                %a{href:"#{ride.URL}"}= ride.COMPANY_NAME
          - else
            - style = 0
            %tr{ :class=>'alt'}
              %td{ :class=>'depart_city'}= ride.DEPART_CITY
              %td= ride.DEPART_TIME
              %td{ :class=>'arrive_city'}= ride.ARRIVE_CITY
              %td= ride.ARRIVE_TIME
              %td= ride.TRIP_COST
              %td
                %a{href:"#{ride.URL}"}= ride.COMPANY_NAME

    %br/
    =link_to "back", rides_path, :target => "_parent"
