%nav.navbar.navbar-default.navp{role: "navigation"}
  .container-fluid
    .navbar-header
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      =link_to 'BusRide', rides_path, :method=>:get, :class => 'navbar-brand'
      
      .navbar-form.navbar-left.form-group.disformdo
        = form_tag rides_search_path, :method => :post do
          = text_field :search, 'from_city', :value => "#{cookies[:from]}", :placeholder => 'Departure City', :required => true, :onfocus => "javascript:initializeSourceCity();"
          = text_field :search, 'to_city', :value => "#{cookies[:to]}",:placeholder => 'Arrival City',:required => true,:onfocus => "javascript:initializeDestinationCity();"
          = text_field :date, 'from_Date',:id => 'from_datepicker',:placeholder => 'From date', :required => true
          = text_field :date, 'to_Date',:id => 'to_datepicker',:placeholder => 'Return date'
          = button_tag 'Search' , type: :submit, :id => 'search'

.container
  Search Results:
  = paginate @rides
  
  %form{:action => rides_search_path, :method => "post", :class => "rpp"}
    %select{name: "perpage", onchange: "this.form.submit()"}
      %option Results per page
      %option{value: 5} 5
      %option{value: 10} 10
      %option{value: 20} 20
      %option{value: 255} All

  %form{:action =>  rides_search_path, :method => "post", :class => "rpp"}
    %select{name: "sort", onchange: "this.form.submit()"}
      %option Sort by
      %option{value: "price"} Price (Low to High)
      %option{value: "priceRev"} Price (High to Low)
      %option{value: "dTime"} Departure Time (Earliest first)
      %option{value: "dTimeRev"} Departure Time (Latest first)
      %option{value: "company"} Company (A-Z)
      %option{value: "companyRev"} Company (Z-A)

  
  -if @round_trip
    = form_tag rides_search_path, :method => :post, :class => 'search-button1' do
      %input#hide1{ :name => "search[radio]", :value => "RoundTrip"}
      %input#hide2{ :name => "search[from_city]", :value => @back_from}
      %input#hide3{ :name => "search[to_city]", :value => @back_to}
      %input#hide4{ :name => "date[from_Date]", :value => @from_date}
      %input#hide5{ :name => "date[to_Date]", :value => @to_date}
      -if @button_tag
        = button_tag 'Select Return' , class: 'search-button1' , type: :submit, :name => 'submit_btn', :value => 'return', :id => "return-trip"
      -else
        = button_tag 'Select Departure' , class: 'search-button1' , type: :submit, :name => 'submit_btn', :value => 'go', :id => 'go-trip'


  .table-responsive
    %table#myTable.tablesorter.table.table-hover.h4.table-striped
      %thead
        %tr
          %th Cost
          %th Departure
          %th 
          %th Arrival
          %th 
          %th URL
      %tbody
        - style = 0
        - @rides.map do |ride|
          - if style == 0
            - style = 1
            %tr
              %td.lead
                $
                = ride.TRIP_COST
              %td{ :class=>'depart_time'}
                = ride.DEPART_TIME.strftime("%l:%M%p ")
              %td{ :class=>'depart_city'}
                = ride.DEPART_CITY 
                %br  
                = ride.DEPART_TIME.strftime("%b %-d,%Y") 
              %td{ :class=>'arrive_time'}
                = ride.ARRIVE_TIME.strftime("%l:%M%p ")
              %td{ :class=>'arrive_city'}
                = ride.ARRIVE_CITY
                %br
                = ride.ARRIVE_TIME.strftime("%b %-d,%Y")
              %td
                %a{href:"#{ride.URL}", :target => "_blank"}= ride.COMPANY_NAME
          - else
            - style = 0
            %tr{ :class=>'alt'}
              %td.lead
                $
                = ride.TRIP_COST
              %td{ :class=>'depart_time'}
                = ride.DEPART_TIME.strftime("%l:%M%p ")
              %td{ :class=>'depart_city'}
                = ride.DEPART_CITY
                %br
                = ride.DEPART_TIME.strftime("%b %-d,%Y")
              %td{ :class=>'arrive_time'}
                = ride.ARRIVE_TIME.strftime("%l:%M%p ")
              %td{ :class=>'arrive_city'}
                = ride.ARRIVE_CITY                  
                %br
                = ride.ARRIVE_TIME.strftime("%b %-d,%Y")                    
              %td
                %a{href:"#{ride.URL}", :target => "_blank"}= ride.COMPANY_NAME


%script{ :type => 'text/javascript'}
  document.getElementById('hide1').style.display = 'none';
  document.getElementById('hide2').style.display = 'none';
  document.getElementById('hide3').style.display = 'none';
  document.getElementById('hide4').style.display = 'none';
  document.getElementById('hide5').style.display = 'none';
  document.getElementById('hide1').style.visibility = 'hidden';
  document.getElementById('hide2').style.visibility = 'hidden';
  document.getElementById('hide3').style.visibility = 'hidden';
  document.getElementById('hide4').style.visibility = 'hidden';
  document.getElementById('hide5').style.visibility = 'hidden';
