
Welcome to BusRide
= form_tag rides_search_path, :method => :get do
  %br
  = radio_button_tag 'search[radio]', 'OneWay', true, :onclick => "javascript:RoundCheck();"
  One Way
  = radio_button_tag 'search[radio]', 'RoundTrip', false, :onclick => "javascript:RoundCheck();"
  Round Trip
  %br
  = text_field :search, 'From',:id => 'From_search_box',:placeholder => 'From'
  = text_field :date, 'From_Date',:id => 'from_datepicker',:placeholder => 'From_Date'
  %br
  = text_field :search, 'To',:id => 'To_search_box',:placeholder => 'To'
  = text_field :date, 'To_Date',:id => 'to_datepicker',:placeholder => 'To_Date'
  %br
  = submit_tag 'Search' 



%script{src: "pikaday.js"}
:javascript

  var today = new Date()

  var from_picker = new Pikaday({
      field: document.getElementById('from_datepicker'),
      format: 'D MMM YYYY', 
      minDate: new Date(),
      onselect: function() 
      {
          console.log(this.getMoment().format('Do MMMM YYYY'));
      }
      });

  var to_picker = new Pikaday({
      field: document.getElementById('to_datepicker'),
      format: 'D MMM YYYY',
      onselect: function() 
      {
          console.log(this.getMoment().format('Do MMMM YYYY'));
      }
      });


:javascript
  function RoundCheck() { 
    if (document.getElementById('search_radio_OneWay').checked) {
      document.getElementById('to_datepicker').style.visibility = 'visible';
    }
    else {
      document.getElementById('to_datepicker').style.visibility = 'hidden';
    }
  }

